.contact-btn-border {
  display: inline-block;
  position: relative;
  background: linear-gradient(to top left, #5433ff, #20bdff, #a5fecb);
  border-radius: 3rem;
  padding: 0.25rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-btn-border:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-btn {
  color: var(--primary-black-color);
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 3rem;
  background-color: var(--primary-white-color);
  border: 4px transparent solid;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.contact-btn-border:hover .contact-btn,
body.dark-mode .contact-btn-border:hover .contact-btn {
  color: #20bdff;
}

body.dark-mode .contact-btn {
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
}
